.total {
  margin-bottom: 15px;
}

.pagination {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.page {
  padding: 10px 30px;
  background: #cfcfcf;
  &:hover {
    cursor: pointer;
  }
}

.active {
  background: #7ad9d0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-column-gap: 30px;
  align-items: flex-start;
  @media screen and (max-width: 1199px) {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
}

.configPosts {
  display: flex;
  align-items: center;
  gap: 45px;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.itemWrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;

  &:nth-child(1) {
    flex: 1 1 33.33%
  }
  &:nth-child(2) {
    flex: 1 1 33.33%
  }
  &:nth-child(3) {
    flex: 1 1 33.33%
  }
}